.footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.0em 1.5em;
    background-color: rgba(13, 36, 27, 0.4);
}

.language-switcher {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}