.home-page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f5e6d0;
  text-align: center;
}

.login-button-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
}

.login-button {
  background-color: rgba(27, 67, 50, 0.8);
  color: #82a584;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s, transform 0.1s;
  font-family: var(--font-main), serif;
  font-weight: 500;
}

.login-button:hover {
  background-color: rgba(27, 67, 50, 0.9);
}

.login-button:active {
  transform: translateY(1px);
}

.logo.brew-buddy {
  width: 180px;
  height: auto;
  margin-bottom: 2rem;
  filter: drop-shadow(0 6px 12px rgba(0, 0, 0, 0.4));
}

.home-button {
  background-color: rgba(27, 67, 50, 0.4);
  color: #82a584;
  border: 10px;
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  font-family: var(--font-main), serif;
  font-weight: 400;
}

.card button:hover {
  background-color: #74c69d;
}

.card button:active {
  transform: translateY(2px);
}
